@font-face {
    font-family: "Gilroy";
    font-weight: 800;
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
    }

@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
    }

@font-face {
    font-family: "OpenSans";
    font-weight: 300;
    src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
    }

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  text-transform: none;
  background-color: #ffffff;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.main-header {
  background-color: rgba(240, 197, 46, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 1160px;
  display: flex;
}

.catalog-header {
  margin-bottom: 44px;
}

.main-header a{
  color: #000000;
}

.main-header-logo {
  width: 163px;
  height: 35px;
  margin-left: 59px;
  margin-top: -19px;
  display: flex;
  padding-bottom: 35px;
}

.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.user-navigation {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding-bottom: 50px;
  list-style: none;
  width: 1160px;
}

.search-form input::placeholder {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  border: 0;
  padding: 0;
}

.search-form input::placeholder:hover {
  opacity: 0.6;
}

.search-form input::placeholder:active {
  opacity: 1;
}

.search-button {
  display: none;
  width: 85px;
  height: 49px;
  border: solid 2px #000000;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: center;
  color: #000000;
}

.search-button:hover,
.search-button:active {
  width: 85px;
  height: 49px;
  border: solid 2px #000000;
  background-color: #000000;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: center;
}

.search-button:hover {
  color: #ffffff;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding-bottom: 160px;
  list-style: none;
  width: 1160px;
  display: flex;
}

.user-navigator,
.site-navigation {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
}

.search img {
  padding-right: 20px;
}

.user-navigator li:first-child  {
  padding-right: 380px;
  width: 155px;
  display: flex;
  align-items: baseline;
}

.login-link img {
  padding-right: 14px;
}

.header-user-navigator li:hover,
.user-navigator li:hover {
  opacity: 0.6;
}

.header-user-navigator li:active,
.user-navigator li:active {
  opacity: 0.3;
}

.user-navigator li:nth-child(2)  {
  display: flex;
  align-items: baseline;
}

.compare img {
  padding-right: 10px;
}

.user-navigator li:nth-child(3)  {
  padding-left: 190px;
  display: flex;
  align-items: baseline;
}

.basket img {
  padding-right: 12px;
}

.user-navigator li:nth-child(4)  {
  padding-left: 41px;
  display: flex;
  align-items: baseline;
}

.site-navigation a,
.user-navigator a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
color: rgba(0, 0, 0, 0.6);
}

.unfolded-catalog {
  display: flex;
  margin-top: -160px;
  padding-left: 60px;
  padding-bottom: 35px;
  z-index: 150;
  position: relative;
}

.product-catalog a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-align: left;
  color: #000000;
}

.product-catalog a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.product-catalog a:hover {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-show:hover + .unfolded-catalog {
  display: flex;
}

.catalog-show:hover {
  display: flex;
}

.catalog-show svg {
  opacity: 0.3;
}

.site-navigation li:nth-child(1) {
  display: flex;
  align-items: center;
  width: 256px;
}

.site-navigation li:nth-child(2) {
  padding-left: 286px;
}

.site-navigation li:nth-child(3) {
  padding-left: 38px;
}

.site-navigation li:nth-child(4) {
  padding-left: 99px;
}

.product-catalog {
  font-family: "OpenSans", Arial, sans-serif;
  text-transform: none;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  bottom: -90px;
  left: 0px;
  flex-wrap: wrap;
  width: 1040px;
  background-color: #f7e296;
  position: absolute;
  z-index: 2;
}

.main-product-catalog {
  bottom: -90px;
  left: 0px;
}

.product-catalog-show {
  display: flex;
  align-items: baseline;
}

.product-catalog-show svg {
  padding-left: 16px;
}

.product-catalog-show:hover + .product-catalog {
  display: flex;
}

.product-catalog li:nth-child(1),
.product-catalog li:nth-child(4) {
  width: 181px;
  padding-right: 58px;
  padding-left: 0px;
}

.product-catalog li:nth-child(3) {
  width: 181px;
  padding-right: 300px;
}

.product-catalog li:nth-child(2) {
  width: 130px;
  padding-right: 71px;
  padding-left: 0px;
}

.product-catalog li:nth-child(5) {
  width: 270px;
  padding-right: 500px;
}

.sliders {
  display: flex;
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 1110px;
  bottom: 275px;
  z-index: 100;
  width: 162px;
  height: 12px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 21px;
  border-radius: 50%;
  cursor: pointer;
  padding: 21px;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  z-index: 1;
  background: #ffffff;
  border: 1px solid #000000;
  padding: 0px;
}

.slider-list  {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 117px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -111px;
  width: 1160px;

}

.slider-item {
  display: none;
  flex-direction: column;
  width: 1040px;
  padding-right: 60px;
  padding-left: 60px;
  background-position: 60px 0px;
  position: relative;
}

.slider-item:nth-child(1) {
  background-image: url('../img/slide-1.png');
  background-repeat: no-repeat;
}

.slider-item:nth-child(2) {
  background-image: url('../img/slide-2.png');
  background-repeat: no-repeat;
  background-position: 60px 0px;
}

.slider-item:nth-child(3) {
  background-image: url('../img/slide-3.png');
  background-repeat: no-repeat;
  background-position: 30px 90px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: 4px;
  background-color: inherit;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider-text {
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
  padding-left: 540px;
  flex-direction: column;
  align-items:flex-start;
}

.slider-item:nth-child(3) .slider-text {
  padding-left: 538px;
}

.headline-wrapper {
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
  position: relative;
}

.quadrocopter-headline-wrapper {
  width: 502px;
}

.slider-headline {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding: 0;
  z-index: 10;
  display: flex;
  padding-top: 90px;
  padding-bottom: 24px;
  width: 400px;
}

.quadrocopter-headline {
  width: 510px;
  z-index: 10;
}

.selfy-headline {
  padding-top: 90px;
  width: 400px;
}

.slider-headline::before {
  content: "";
  position: absolute;
  top: 48px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.selfy-headline::after {
  content: "01";
  position: absolute;
  top: 9px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: right;
  color: #ffffff;
  bottom: 9px;
  left: 333px;
  z-index: 1;
}

.fytness-headline::after {
  content: "02";
  position: absolute;
  top: 9px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: right;
  color: #ffffff;
  bottom: 9px;
  left: 309px;
  z-index: 1;
}

.quadrocopter-headline::after {
  content: "03";
  position: absolute;
  top: 9px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: right;
  color: #ffffff;
  bottom: 9px;
  left: 265px;
  z-index: -1;
}

.slider-selfy-text p{
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}

.slider-text p {
  padding-bottom: 67px;
  margin: 0;
}

.more {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  align-items: center;
  position: relative;
  width: 220px;
  justify-content: center;
}

.more::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.more:hover::before {
  width: 220px;
  height: 40px;
}

.more:active {
  color: rgba(0, 0, 0, 0.3);
}

.more:active::beforee {
  width: 220px;
  height: 40px;
}

.slider-table  {
  padding-top: 49px;
  border: 0px;
}

.slider-table tr:nth-child(1)  {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
}

.slider-table tr:nth-child(2)  {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-align: left;
  color: #464646;
}

.slider-table td {
  padding-right: 60px;
}

.item-categories {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}

.itemlist {
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 1160px;
  align-items: flex-start;
}

.itemlist li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemlist a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-align: left;
  width: 160px;
  padding-top: 30px;
}

.img-wrapper {
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.img-wrapper-monopodes {
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
}

.img-wrapper:hover {
  background-color: #f0c52e;
}

.img-wrapper img:active {
  opacity: 0.3;
}

.itemlist a:active {
  opacity: 0.3;
}

.trademarks {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.trademark-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 1160px;
  align-items: flex-start;
  padding-bottom: 93px;
  padding-top: 94px;
}

.dji-color {
  background: url('../img/Dji.png');
  width: 260px;
  height: 100px;
}

.dji-color:hover {
  background: url('../img/Dji-color.png');
}

.spgadgets-color {
  background: url('../img/spgadgets.png');
  width: 260px;
  height: 100px;
}

.spgadgets-color:hover {
  background: url('../img/spgadgets-color.png');
}

.gopro-color {
  background: url('../img/GoPro.png');
  width: 260px;
  height: 100px;
}

.gopro-color:hover {
  background: url('../img/GoPro-color.png');
}

.vive-color {
  background: url('../img/Vive.png');
  width: 260px;
  height: 100px;
}

.vive-color:hover {
  background: url('../img/Vive-color.png');
}

.conditions {
  background-color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 184px;
  display: flex;

  position: relative;
}

.conditions-wrapper {
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 1160px;
  display: flex;
}

.conditions-controls-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 280px;
  display: flex;
}

.conditions-controls  {
  display: flex;
  flex-direction: column;
  width: 280px;
  text-align: center;
  vertical-align: middle;
  bottom: 150px;
  z-index: 20;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  margin-top: -65px;
  text-transform: uppercase;
  position: relative;
  bottom: -10px;
}

.conditions-controls label {
  width: 160px;
  text-align: center;
  vertical-align: middle;
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.conditions-controls label::before {
  content: "";
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 53px;
  position: absolute;
  z-index: -1;
}

.conditions-controls label:hover::before {
  width: 160px;
  height: 40px;
}

.conditions-controls label:active {
  color: #f7e184;
  width: 160px;
  text-align: center;
  justify-content: flex-start;
}

.conditions-controls label:active::before {
  width: 280px;
  height: 40px;
  background-color: #000000;
}

.conditions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -100px;
  width: 880px;
  position: relative;
}

.conditions-list::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: #000000;
  top: 0px;
}

.condition-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  padding: 0px;
  padding-top: 75px;
  margin: 0px;
}

.conditions-slide {
  width: 880px;
  display: none;
  align-items: flex-end;
}

input[id="condition-1"]:checked ~ .conditions-list li[id="slide1"],
input[id="condition-2"]:checked ~ .conditions-list li[id="slide2"],
input[id="condition-3"]:checked ~ .conditions-list li[id="slide3"] {
  display: flex;
}

.condition-feature {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
  padding-top: 35px;
  padding-bottom: 144px;
  margin: 0px;
}

.text-wrap {
  margin: 0;
  padding: 0;
  display: flex;
  width: 460px;
  flex-direction: column;
  padding-left: 120px;
}

.conditions-image {
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 100px;
  padding-bottom: 144px;
}

.radiobutton-wrap {
  margin: 0;
  padding: 0;
  width: 280px;
  display: flex;
  flex-direction: column;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
}

.main-footer a {
  color: #ffffff;
  text-decoration: none;
}

.main-footer-logo
.footer-login-link
.footer-compare
.footer-basket
.footer-html-academy {
  margin: 0;
}

.footer-contacts {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.footer-adress {
  display: flex;
  margin: 0;
  padding: 0;
  float: left;
  width: 201px;
  order: 1;
}

.footer-phone {
  display: flex;
  margin: 0;
  padding: 0;
  float: right;
  width: 164px;
  order: 3;
}

.social-networks-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 67px;
  justify-content: space-between;
  position: relative;
}

.social-networks  {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  list-style: none;
  padding-left: 54px;
  justify-content: space-between;
}

.social-networks svg:hover {
  opacity: 0.6;
}

.social-networks svg:active {
  opacity: 0.1;
}

.social-networks::before  {
  content: "";
  display: flex;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  left: 0px;
  bottom: 82px;
  align-items: center;
  position: absolute;
}

.social-networks ul {
  list-style: none;
  display: flex;
  margin: 0 ;
  padding: 0;
  justify-content: center;
}

.social-networks li:nth-child(1),
.social-networks li:nth-child(2)  {
  padding-right: 23px;
}

.footer-html-academy {
  width: 27px;
  display: flex;
}

.footer-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.footer-container svg {
  fill: #ffc600;
}

.main-footer-logo svg {
  width: 163px;
  height: 35px;
  display: flex;
  padding-bottom: 40px;
  fill: #ffc600;
}

.footer-logo,
.footer-user-navigation,
.footer-main-navigation,
.footer-contacts{
  margin: 0;
  display: flex;
}

.footer-container svg:hover,
.footer-html-academy svg:hover {
  opacity: 0.6;
}

.footer-container svg:active,
.footer-html-academy svg:active {
  opacity: 0.3;
}

.footer-user-navigator,
.footer-site-navigation {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.footer-user-navigator a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigator a:hover {
  color: color: rgb(255, 255, 255);
}

.footer-user-navigator a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: baseline;
}

.footer-main-navigation {
  display: flex;
  justify-content: center;
  order: 2;
  margin: 0 auto;
  padding: 0;
}

.footer-main-navigation a:hover {
  opacity: 0.6;
}

.footer-main-navigation a:active {
  opacity: 0.3;
}

.footer-site-navigation {
  display: flex;
  justify-content: center;
  order: 2;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-login-link svg,
.footer-compare svg,
.footer-basket svg {
  fill: #ffc600;
}

.footer-login-link svg  {
  padding-right: 14px;
}

.footer-compare svg  {
  padding-right: 10px;
}

.footer-basket svg  {
  padding-right: 12px;
}

.footer-user-navigator li:nth-child(2)  {
  padding-left: 20px;
}

.footer-user-navigator li:nth-child(3)  {
  padding-left: 44px;
}

.footer-user-navigator li:nth-child(4)  {
  padding-left: 41px;
}

.footer-site-navigation {
  width: 423px;
  display: flex;
  justify-content: center;
}

.footer-site-navigation li:first-child  {
  padding-right: 38px;
}

.footer-site-navigation li:nth-child(2)  {
  padding-right: 38px;
}

.facebook svg,
.instagram svg,
.twitter svg {
  opacity: 0.3;
}

.features {
   display: flex;
   margin: 0 auto;
   padding: 0;
   padding-left: 20px;
   padding-right: 20px;
   width: 1160px;
   padding-top: 93px;
   padding-bottom: 93px;
   align-items: stretch;
}

.features a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
}

.features-about {
  width: 460px;
  padding-right: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.features-contacts {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 59px;
}

.feature-item,
.contacts {
  position: relative;
}

.feature-item::before,
.contacts::before {
  content: "";
  position: absolute;
  top: -51px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.transport-companies {
  align-items: baseline;
  display: flex;
  flex-direction: column;
}

.transport-companies li {
  position: relative;
}

.transport-companies li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: -26px;
  bottom: 16px;
  border-radius: 50%;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.transport-companies li::after {
  content: "";
  position: absolute;
  left: -26px;
  bottom: 16px;
  width: 5px;
  height: 5px;
  margin: 1px;
  border-radius: 50%;
  background-color: #ffffff;
}

.features-link,
.write-to {
  width: 260px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  position: relative;
}

.features-link::before,
.write-to::before {
  content: "";
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}

.features-link:hover::before,
.write-to:hover::before {
  width: 260px;
  height: 40px;
  align-items: center;
  justify-content: center;

}

.features-link:active::before,
.write-to:active::before {
  width: 260px;
  height: 40px;
  color: rgba(0, 0, 0, 0.3);
}

.features-link:active,
.write-to:active {
  color: rgba(0, 0, 0, 0.3);
}

.features-about p,
.features-contacts p {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
}

.features-about ul {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-left: 26px;
  list-style: none;
}

.features-about a {
  margin-top: 82px;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
}

.main-header-map {
  background-image: url('../img/map.jpg');
  width: 560px;
  height: 222px;
}

.write-to {
  margin-top: 85px;
  display: flex;
  justify-content: center;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  display: flex;
  background-color: #ebebeb;
  position: relative;
  padding-top: 44px;
}

.write-to-us input {
  font: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);

  background-color: #e5e5e5;
}

.write-to-us input:hover {
  color: rgba(70, 70, 70, 0.4);
  background-color: #eaeaea;
}

.write-to-us input:focus {
  color: #464646;
  background-color: #ffffff;
}

.write-to-us input:invalid {
  color: rgba(70, 70, 70, 0.4);
  background-color: #f6dada;
}

.modal {
  color: #000000;
  background-color: #ffffff;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  display: flex;
}

.modal-write-to-us {
  display: flex;
  width: 960px;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  position: relative;
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  opacity: 0.5;

  font-size: 0;

  background-color: #f0c52e;
  border: 0;
  padding: 0;
  margin-right: 22px;
  margin-top: 22px;
  right: 0px;

  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: relative;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
}

.write-to-us {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  padding: 0;
  margin: 0 auto;
}

.write-to-us input {
  padding: 0;
  margin: 0;
  border: 0px;
}

.write-to-us label {
  padding-bottom: 13px;
}

.write-to-us p {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.write-to-us p:first-child {
  padding-right: 40px;
}

.input-name,
.enter-user-name,
.enter-user-email {
  padding-top: 90px;
}

.input-name,
.enter-user-name,
.enter-user-email {
  width: 340px;
}

.input-letter {
  width: 760px;
  padding-top: 13px;
  padding-bottom: 46px;
}

.write-to-us input {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
  text-transform: none;

  background-color: #f2f2f2;
  padding-top: 12px;
  padding-left: 20px;
}

.write-to-us  .enter-user-name,
.write-to-us  .enter-user-email {
  padding-bottom: 12px;
}

.write-to-us .enter-letter-text {
  padding-bottom: 117px;
}

.write-to-us input[placeholder] {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
}

.write-to-us input:hover {
  background-color: #eaeaea;
}

.write-to-us input:focus {
  background-color: #ffffff;
  color: #464646;
  border: solid 3px #f0c52e;
  outline:none;
  }

.enter-user-name:focus,
.enter-user-email:focus {
  width: 334px;
}

.enter-letter-text:focus {
  width: 754px;
}

.write-to-us input:invalid {
  background-color: #f6dada;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 46px;
  margin-bottom: 83px;
  width: 200px;
  position: relative;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  z-index: 1;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.modal-button::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0c52e;
  width: 200px;
  height: 8px;
  z-index: -1;
}

.modal-button:hover::before,
.modal-button:active::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0c52e;
  width: 200px;
  height: 40px;
  z-index: -1;
}

.modal-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input[type="search"] {
  width: auto;
  height: 15px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-transform: none;
  background-color: inherit;
  border: 0px;
}

.product-category-wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.product-category {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding-bottom: 30px;
  padding: 0;
  padding-bottom: 22px;
  padding-left: 60px;
}

.product-list ul {
  list-style: none;
}

.product-list {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  padding-left: 60px;
}

.product-list li {
  padding-right: 19px;
  color: rgba(0, 0, 0, 0.3);
}

.product-list a{
  color: rgba(0, 0, 0, 0.3);
}

.product-list a:first-child  {
  padding-right: 16px;
}

.product-filter  {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  padding-top: 50px;
  margin-bottom: 20px;
}

.product-choice fieldset {
  border: none;
}

.product-choice legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.product-filter ul {
  list-style: none;
  line-height: 40px;
}

.filter-option  {
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  border: 0px;
  left: -40px;
  bottom: 12px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  border: 0px;
  left: -40px;
  bottom: 12px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;

  width: 27px;
  height: 23px;
  border: 0px;
  left: -40px;
  bottom: 12px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;

  width: 25px;
  height: 25px;
  left: -40px;
  bottom: 9px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;

  width: 25px;
  height: 25px;
  left: -40px;
  bottom: 9px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option-input:disabled + label {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.1px;
  text-align: left;
  color: #a6a6a6;
  opacity: 0.25;
}

.catalog-item {
  list-style: none;
  padding: 0;
  width: 360px;
  margin-bottom: 50px;
  margin-right: 40px;
}

.catalog-item a {
  display: flex;
  flex-direction: column;

  color: #000000;
}

.catalog-item-wrapper {
  display: flex;
  color: #000000;
  align-items: baseline;

}

.catalog-item-name {
  width: 260px;
  padding-top: 28px;
  margin: 0;
}

.catalog-item-price {
  width: 100px;
}

.catalog-item-image {
  position: relative;
}

.catalog-image-wrap {
  display: flex;
}

.catalog-item-button  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  margin-top: 183px;
  margin-bottom: 27px;
  width: 200px;
  position: relative;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  z-index: 1;
}

.filter-button  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-top: 44px;
  width: 200px;
  position: relative;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  z-index: 1;
}

.catalog-item-button::before,
.filter-button::before  {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0c52e;
  width: 200px;
  height: 8px;
  z-index: -1;
}

.catalog-item-button:hover::before,
.catalog-item-button:active::before,
.filter-button:hover::before,
.filter-button:active::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0c52e;
  width: 200px;
  height: 40px;
  z-index: -1;
}

.catalog-item-button:active,
.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-image-hover .catalog-compare  {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OpenSans", Arial, sans-serif ;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.77;
  letter-spacing: 0.13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-compare:hover  {
  color: rgba(0, 0, 0, 1);
}

.catalog-compare:active  {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-image-hover {
  content: "";
  position: absolute;
  display: none;
  background-color: rgba(238, 238, 238, 0.7);
  width: 360px;
  height: 380px;
  top: 0px;
  flex-direction: column;
}

.catalog-image-wrapper:hover + .catalog-image-hover {
  display: flex;
}

.catalog-image-hover:hover {
  display: flex;
}

.pagination {
  display: flex;
  width: 760px;
  background-color: #ebebeb;
  font-family: "Gilroy", Arial, sans-serif ;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  justify-content: space-between;
  margin-bottom: 77px;
  margin-left: 73px;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current a {
  color: #000000;
}

.pagination-nav {
  width: 136px;
  text-align: center;
  color: #000000;
  padding-top: 22px;
  padding-bottom: 22px;
}

.pagination-nav:hover {
  background-color: #d9d9d9;
}

.pagination-nav:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  display: flex;
  width: 160px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.pagination-list li:first-child,
.pagination-list li:nth-child(2) {
  padding-right: 31px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-user-navigation {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  padding-bottom: 50px;
}

.header-user-navigator {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  padding-left: 60px;
  padding-right: 61px;
  justify-content: space-between;
}

.header-user-navigator li:first-child  {
  padding-right: 323px;
  width: 155px;
  display: flex;
  align-items: baseline;
}

.user-cabinet img {
  padding-right: 14px;
}

.header-user-navigator li:nth-child(2)  {
  display: flex;
  align-items: baseline;
  padding-left: 60px;
}

.header-exit-link a {
  color: rgba(0, 0, 0, 0.3);
}

.compare img {
  padding-right: 10px;
}

.header-user-navigator li:nth-child(3)  {
  padding-left: 20px;
  display: flex;
  align-items: baseline;
}

.header-user-navigator li:nth-child(4)  {
  padding-left: 65px;
  display: flex;
  align-items: baseline;
}

.basket img {
  padding-right: 12px;
}

.header-user-navigator li:nth-child(5)  {
  padding-left: 41px;
  display: flex;
  align-items: baseline;
}

.header-navigator a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:focus,
.user-navigation a:focus {
color: rgba(0, 0, 0, 0.3);
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.product-choice {
  background-color: #ebebeb;
  width: 328px;
}

.filter-name-wrapper {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
  margin-left: auto;
  padding-top: 22px;
  padding-bottom: 22px;
  position: relative;
}

.filter-name-wrapper::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 300px;
  right: 328px;
  height: 68px;
  bottom: 0px;
  z-index: -1;
}

.filter-name-wrapper .filter {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  color:#000000;
  padding-left: 60px;
}

.product-choice h3 {
  margin: 0;
  padding: 0;
  width: 325px;
  margin-left: auto;
}

.filter-name {
  padding: 0;
  margin: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-right: 55px;
}

.filter-name .filter-type {
  color: rgba(0, 0, 0, 0.3);
}

.filter-name .filter-type-current {
  color: #000000;
}

.filter-header {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  margin-bottom: 69px;
  align-items: baseline;
  justify-content: space-between;
  width: 760px;
  padding-left: 73px;
  position: relative;
}

.filter-header::after {
  content: "";
  position: absolute;
  background-color: #ebebeb;
  width: 300px;
  left: 760px;
  height: 68px;
  z-index: -1;
}

.filter-header a {
  padding: 0;
  margin: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.filter-header h3 {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  padding-right: 55px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.filter-name,
.filter-navigation {
  list-style: none;
  display: flex;
}

.filter-name li:first-child {
  padding-right: 29px;
}

.filter-name li:nth-child(2),
.filter-name li:nth-child(3) {
  padding-right: 31px;
}

.filter-navigation {
  padding: 0;
  margin: 0;
}

.filter-navigation li {
  padding-left: 19px;
}

.filter-nav-current svg {
  opacity: 0.2;
}

.filters-list {
  padding-top: 69px;
  width: 268px;
  padding-left: 60px;
  position: relative;
}

.filters-list::before {
  content: "";
  position: absolute;
  background-color: #ebebeb;
  width: 300px;
  right: 328px;
  height: 1300px;
  top: 0px;
  z-index: -1;
}

.filter-legend {
  position: relative;
}

.filter-legend::before {
  content: "";
  position: absolute;
  display: block;
  width: 201px;
  height: 2px;
  background-color: #000000;
  bottom: 39px;
}

.range-filter  {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 40px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;
}

.range-filter {
  width: 200px;
  margin-top: 41px;
}

.range-controls {
  position: relative;
  height: 22px;
  padding-top: 10px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 110px;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;

  border: 10px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  position: absolute;
  top: 0px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: -6px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.2);
  width: 70px;
  padding: 0px;
  border: none;
  background: #ebebeb;
}

.catalog  {
  list-style: none;
  padding: 0;
  width: 832px;
  display: flex;
  padding: 0px;
  flex-direction: column;
}

.catalog-item {
  width: 360px;
  margin-bottom: 49px;
  margin-right: 40px;
  display: flex;
  padding: 0px;
  flex-direction: column;
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 760px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 73px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.product-category a {
  color: #000000;
}

.inner-page .main-footer {
  margin-top: 77px;
}
