@font-face {
    font-family: Gilroy;
    font-weight: 800;
    src: url('./fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('./fonts/Gilroy-ExtraBold.woff') format('woff');
    }

@font-face {
    font-family: Gilroy;
    font-weight: 300;
    src: url('./fonts/Gilroy-Light.woff2') format('woff2'),
    url('./fonts/Gilroy-Light.woff') format('woff');
    }

@font-face {
    font-family: OpenSans;
    font-weight: 300;
    src: url('./fonts/OpenSans-Light.woff2') format('woff2'),
    url('./fonts/OpenSans-Light.woff') format('woff');
    }

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  text-transform: none;

  background-color: #ffffff;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  background-color: rgba(240, 197, 46, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
  margin-top: 40px;
  width: 1160px;
  display: flex;
}

.main-header a{
  color: #000000;
}

.main-header-logo {
  width: 163px;
  height: 35px;
  margin-left: 59px;
  margin-top: -19px;
  display: flex;
  padding-bottom: 35px;
}

.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.user-navigation {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding-bottom: 50px;
  list-style: none;
  width: 1160px;
}

.search-form input::placeholder {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  border: 0;
  padding: 0;
}

.search-form input::placeholder:hover {
  opacity: 0.6;
}

.search-form input::placeholder:active {
  opacity: 1;
}

.search-button {
  display: none;
  width: 85px;
  height: 49px;
  border: solid 2px #000000;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: center;
  color: #000000;
}

.search-button:hover,
.search-button:active {
  width: 85px;
  height: 49px;
  border: solid 2px #000000;
  background-color: #000000;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: center;
}

.search-button:hover {
  color: #ffffff;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding-bottom: 169px;
  list-style: none;
  width: 1160px;
  display: flex;
}

.user-navigator,
.site-navigation {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding-left: 60px;
  padding-right: 61px;
}

.search img {
  padding-right: 20px;
}

.user-navigator li:first-child  {
  padding-right: 323px;
  width: 155px;
  display: flex;
  align-items: baseline;
}

.login-link img {
  padding-right: 14px;
}

.user-navigator li:hover {
  opacity: 0.6;
}

.user-navigator li:active {
  opacity: 0.3;
}

.user-navigator li:nth-child(2)  {
  display: flex;
  align-items: baseline;
}

.compare img {
  padding-right: 10px;
}

.user-navigator li:nth-child(3)  {
  padding-left: 218px;
  display: flex;
  align-items: baseline;
}

.basket img {
  padding-right: 12px;
}

.user-navigator li:nth-child(4)  {
  padding-left: 41px;
  display: flex;
  align-items: baseline;
}

.site-navigation a,
.user-navigator a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
color: rgba(0, 0, 0, 0.6);
}

.site-navigation li:nth-child(3) {
  padding-left: 38px;
}

.site-navigation li:nth-child(4) {
  padding-left: 114px;
}

.product-catalog {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 40px;
}

.catalog1,
.catalog2,
.catalog3 {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  text-transform: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog1 {
  width: 240px;
}

.catalog2 {
  width: 200px;
}

.catalog3 {
  width: 111px;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  padding-top: 65px;
  margin-top: 93px;
  display: flex;
  flex-direction: column;
}

.main-footer a {
  color: #ffffff;
  text-decoration: none;
}

.main-footer-logo
.footer-login-link
.footer-compare
.footer-basket
.footer-html-academy {
  background-color: #ffc600;
  margin: 0;
}

.footer-contacts {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.footer-adress {
  display: flex;
  margin: 0;
  padding: 0;
  float: left;
  width: 201px;
  order: 1;
}

.footer-phone {
  display: flex;
  margin: 0;
  padding: 0;
  float: right;
  width: 164px;
  order: 3;
}

.social-networks-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  align-items: baseline;
  padding-top: 70px;
  padding-bottom: 67px;
}

.social-networks  {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.social-networks ul {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.footer-html-academy {
  width: 27px;
  display: flex;
}

.footer-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1160px;
}

.footer-logo {
  width: 163px;
  height: 35px;
  display: flex;
  padding-bottom: 40px;
}

.footer-logo,
.footer-user-navigation,
.footer-main-navigation,
.footer-contacts{
  margin: 0;
}

.footer-user-navigator,
.footer-site-navigation {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.footer-navigation-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: baseline;
}

.footer-main-navigation {
  display: flex;
  justify-content: center;
  order: 2;
  margin: 0 auto;
  padding: 0;
}

.footer-site-navigation {
  display: flex;
  justify-content: center;
  order: 2;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-user-navigator li:nth-child(2)  {
  padding-left: 20px;
}

.footer-user-navigator li:nth-child(3)  {
  padding-left: 44px;
}

.footer-user-navigator li:nth-child(4)  {
  padding-left: 41px;
}

.footer-site-navigation {
  width: 423px;
  display: flex;
  justify-content: center;
}

.footer-site-navigation li:first-child  {
  padding-right: 38px;
}

.footer-site-navigation li:nth-child(2)  {
  padding-right: 38px;
}

.features {
   display: flex;
   margin-top: 93px;
   margin-bottom: 93px;
   margin: 0 auto;
   padding: 0;
   width: 1160px;
}

.features a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
}

.features-about {
  width: 460px;
  padding-right: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.features-contacts {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.features h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 59px;
}

.feature-item,
.contacts {
  position: relative;

}

.feature-item::before,
.contacts::before {
  content: "";
  position: absolute;
  top: -51px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.features-link,
.write-to {
  display: inline-block;
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  text-align: center;
  vertical-align: middle;
}

.features-about p,
.features-contacts p {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
}

.features-about ul {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: #000000;
  margin: 0;
  list-style: none;
  padding: 0;
}

.features-about a {
  margin-top: 82px;
  display: flex;
  justify-content: flex-start;
}

.main-header-map {
  background-image: url('./img/map.jpg');
  width: 560px;
  height: 222px;
}

.write-to {
  padding-top: 85px;
  display: flex;
  justify-content: flex-start;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #f0c52e;
  border: none;
  width: 220px;
  height: 8px;
  display: inline-block;
  padding-top: 82px;
}

.write-to-us input {
  font: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);

  background-color: #e5e5e5;
}

.write-to-us input:hover {
  color: rgba(70, 70, 70, 0.4);
  background-color: #eaeaea;
}

.write-to-us input:focus {
  color: #464646;
  background-color: #ffffff;
}

.write-to-us input:invalid {
  color: rgba(70, 70, 70, 0.4);
  background-color: #f6dada;
}

.modal {
  color: #000000;
  background-color: #ffffff;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  display: none;
}

.write-to-us input[type="text"],
.write-to-us input[type="email"] {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(70, 70, 70, 0.4);
  text-transform: none;

  background-color: #f2f2f2;
}

.write-to-us input:hover {
  background-color: #eaeaea;
}

.write-to-us input:focus {
  background-color: #ffffff;
  color: #464646;
  border: solid 3px #f0c52e;
  }

.write-to-us input:invalid {
  background-color: #f6dada;
}

.search-form input[type="search"] {
  width: 108px;
  height: 15px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-transform: none;
  background-color: inherit;
}

.product-category-wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.product-category {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.product-list ul {
  list-style: none;
}

.product-list {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
}

.product-filter  {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.product-choice fieldset {
  border: none;
}

.product-choice legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.product-filter ul {
  list-style: none;
  line-height: 40px;
}

.filter-option-input:disabled + label {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.1px;
  text-align: left;
  color: #a6a6a6;
  opacity: 0.25;
}

.catalog-item {
  list-style: none;
  padding: 0;
  width: 232px;
  position: absolute;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-user-navigation {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  padding-bottom: 50px;
}

.header-user-navigator {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  padding-left: 60px;
  padding-right: 61px;
  justify-content: space-between;
}

.header-user-navigator li:first-child  {
  padding-right: 323px;
  width: 155px;
  display: flex;
  align-items: baseline;
}

.user-cabinet img {
  padding-right: 14px;
}

.header-user-navigator li:nth-child(2)  {
  display: flex;
  align-items: baseline;
}

.compare img {
  padding-right: 10px;
}

.header-user-navigator li:nth-child(3)  {
  padding-left: 65px;
  display: flex;
  align-items: baseline;
}

.header-user-navigator li:nth-child(4)  {
  padding-left: 41px;
  display: flex;
  align-items: baseline;
}

.basket img {
  padding-right: 12px;
}

.header-user-navigator li:nth-child(5)  {
  padding-left: 41px;
  display: flex;
  align-items: baseline;
}

.header-navigator a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:focus,
.user-navigation a:focus {
color: rgba(0, 0, 0, 0.3);
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;

}

.product-choice {
  background-color: #ebebeb;
  width: 467px;
  margin-right: auto;
}

.filters-list {
  width: 200px;
  padding-right: 68px;
  margin-left: auto;
}

.catalog  {
  list-style: none;
  padding: 0;
  width: 835px;
  display: flex;
  padding: 0px;
  flex-direction: column;
}

.catalog-item {
  width: 360px;
  margin-bottom: 49px;
  margin-right: 40px;
  display: flex;
  padding: 0px;
  flex-direction: column;
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 760px;
  list-style: none;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;
  margin-bottom: 77px;
  background-color: #ebebeb;
  width: 1440px;
  margin-bottom: 77px;
}

.product-category a {
  color: #000000;
}

.inner-page .main-footer {
  margin-top: 77px;
}
